<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add name="OneWayMailContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OneWayMail;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Interval to check for new mails in seconds. -->
    <add key="CheckInterval" value="5" />
    <add key="WebsiteUrl" value="http://mydomain.com" />
    <add key="ImapServer" value="myimapserver" />
    <add key="ImapPort" value="993" />
    <add key="ImapUser" value="catchall@mymaildomain.com" />
    <add key="ImapPassword" value="pass" />
    <add key="SmtpServer" value="mysmtpserver" />
    <add key="SmtpPort" value="465" />
    <add key="SmtpUser" value="catchall@mymaildomain.com" />
    <add key="SmtpPassword" value="pass" />
    <add key="EmailSenderDisplayName" value="OneWayMail" />
    <add key="EmailSenderSmtpAddress" value="onewaymail@mymaildomain.com" />
  </appSettings>

  <entityFramework>
    <contexts>
      <context type="Doering.OneWayMail.DataAccess.OneWayMailContext, Doering.OneWayMail">
        <databaseInitializer type="Doering.OneWayMail.DataAccess.OneWayDbInitializer, Doering.OneWayMail" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
    See https://github.com/nlog/nlog/wiki/Configuration-file 
    for information on customizing logging rules and outputs.
  
     -->
    <targets>
      <target xsi:type="File" name="textFile" fileName="${basedir}/logs/OneWayMailService-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString} ${event-properties:item=TaskId}" archiveAboveSize="52428800" maxArchiveFiles="50" />
      <target xsi:type="Trace" name="developerTrace" layout="${message} ${exception:format=ToString}" />
      <target xsi:type="ColoredConsole" name="console" layout="${time} ${message} ${exception}" useDefaultRowHighlightingRules="true" />
      <target xsi:type="Database" name="database">
        <connectionStringName>OneWayMailContext</connectionStringName>
        <commandText>
          INSERT INTO dbo.Log (
          Time, Level, Message, Logger, CallSite, Exception)
          VALUES (
          @Time, @Level, @Message, @Logger, @Callsite, @Exception);
        </commandText>
        <parameter name="@time" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@callSite" layout="${callsite}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="developerTrace" />
      <logger name="*" minlevel="Trace" writeTo="textFile" />
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
  </nlog>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>